@font-face {
    font-family: 'Body';
    src:
        url('../fonts/FjallaOne-Regular.ttf') format("ttf");
}

@font-face {
    font-family: 'Poster';
    src:
        url('../fonts/BBHSansBartle-Regular') format("ttf");
}




body {
    margin: 600;
    font-family: "Body";
    font-weight: bolder;
}

.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 66px;
    width: 400px;
    height: 200px;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-image {
    background-color: transparent;
}

#popup-content {
    background-color: transparent;
    padding: 30;
    border-radius: 10;
    display: flex;
    align-items: center;
    gap: 20;
    text-align: center;
}

.hidden {
    display: none !important;
}

#game-over-text {
    border-radius: 15px;
    color: aliceblue;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
}

#title {
    font-family: "Poster";
    color: coral;
    font-size: 100px;
    text-align: center;
}

#play-again {
    margin: 0 auto;
    cursor: pointer;

}

#play-game {
    color: aliceblue;
    border-radius: 25px;
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}