{% extends "base.html" %}
{% block head %}
{% endblock  %}
{% block body %}
    
<a href="/" id="home-button">Home</a>
<h1>Who was the lead actor/actress in the {{year}} movie {{movie}}?</h1>   
<h1 id="score"> Score: 0 </h1>  
<h1 id="life"> Lives: 3 </h1>  
<div class = "button-grid">
    <button id="right_button" class="button button1">{{actor}}</button>
    <button id="wrong_button1" class="button button2">{{WrongActor1}}</button>
    <button id="wrong_button2" class="button button3">{{WrongActor2}}</button>
    <button id="wrong_button3" class="button button3">{{WrongActor3}}</button>
</div>    

<div id= "popup-overlay" class="hidden">
    <div id="popup-content">
        <img id="popup-image" src="" alt="Result Icon">
        <h2 id="popup-message"></h2> 
    </div>

    <div id="game-over-text">
        <h2> Game Over </h2> 
        <h2 id="game-over-message"> </h2> 
        <button id="play-again"> Play Again</button>
    </div>
</div>    


<script>
    document.addEventListener('DOMContentLoaded', function() {

    const correctSound = new Audio("{{ url_for('static', filename='sound/correct-answer.wav') }}");
    const wrongSound = new Audio("{{ url_for('static', filename='sound/wrong-answer.wav') }}");    
    const popupOverlay = document.getElementById('popup-overlay');
    const popupImage = document.getElementById('popup-image');
    const popupMessage = document.getElementById('popup-message');   
    const gameOverMessage = document.getElementById('game-over-message');   
    const savedLife = localStorage.getItem('userLife');


    if (savedLife>0) {
        life = parseInt(savedLife);
        livesSite = document.getElementById("life");
        livesSite.textContent = "Lives: " + life;
    } else {
        life = 3;
    }
        

    const savedScore = localStorage.getItem('userScore');
    if (savedScore) {
        // If we find a saved score, we use it
        score = parseInt(savedScore);
        scoreSite = document.getElementById("score");
        scoreSite.textContent = "Score: " + score;
    } else {
        // New game case
        score = 0;
    }
        
    function shuffle(array){
        for(let i = array.length - 1; i > 0; i--){
            const random = Math.floor((Math.random()*(i+1)));
            [array[i], array[random]] =[array[random], array[i]]
        }
    }


    buttons = document.querySelectorAll(".button-grid .button")
    const actorNames= [];
    buttons.forEach(function(button) {
        actorNames.push(button.textContent);
    });
    shuffle(actorNames)
    buttons.forEach(function(button, index) {
        button.textContent = actorNames[index];
    });
    buttons.forEach(function(individual_button) {
        individual_button.addEventListener('click', function() {
        const clickedButton = event.target;
        const selectedAnswer = clickedButton.textContent;
        if (selectedAnswer == '{{actor}}') {
            popupMessage.textContent = "Correct!"
            correctSound.play();
            popupImage.src = "{{ url_for('static', filename='images/tick.svg') }}"
            console.log("CORRECT!")
            score ++;
            scoreSite = document.getElementById("score");
            scoreSite.textContent = "Score: " + score;
            localStorage.setItem('userScore', score);
            localStorage.setItem('userLife', life);
        } else {
            popupMessage.textContent = "Wrong!"
            wrongSound.play();
            popupImage.src = "{{ url_for('static', filename='images/error.svg') }}"
            console.log("FALSE") 
            life --;
            if (life == 0) {
                if (score == 0) {
                    gameOverMessage.textContent = "Are you asleep at the keyboard? Hello? Is there anyone there?"
                    }
                    else if (score <3){
                    gameOverMessage.textContent = "I bet you think marvel movies are the pinnacle of cinema"
                    }
                    else if (score <6){
                        gameOverMessage.textContent = "Not quite a score to be called a cinephile but alright"
                        }
                    else if(score <9){
                        gameOverMessage.textContent = "You are kinda cracked at this"
                        }
                        else if(score <15){
                            gameOverMessage.textContent = "You must be cheating, right?"
                            }
                score = 0
            }
            livesSite = document.getElementById("life");
            livesSite.textContent = "Lives: " + life;
            scoreSite = document.getElementById("score");
            scoreSite.textContent = "Score: " + score;
            localStorage.setItem('userScore', score); 
            localStorage.setItem('userLife', life);  
        }
        document.getElementById('game-over-text').classList.add('hidden')
        document.getElementById('popup-content').classList.remove('hidden')
        document.getElementById('popup-overlay').classList.remove('hidden');
        
    if (life > 0)   {
    setTimeout(function() {
        const nextUrl = `/play?score=${score}`;
        popupOverlay.classList.add('hidden')
        window.location.href = nextUrl;
       
    },2000)// 2000 milliseconds = 2 seconds
    } else
    {   document.getElementById('popup-content').classList.add('hidden')
        document.getElementById('game-over-text').classList.remove('hidden')
        document.getElementById('popup-overlay').classList.remove('hidden');
    }
    ;
    });
    });  

const gameOverButton = document.getElementById("play-again")    
gameOverButton.addEventListener("click",function(){
    const nextUrl = `/play?score=${score}`;
    popupOverlay.classList.add('hidden')
    window.location.href = nextUrl;
})
});   

</script>    
{% endblock  %}